{% extends "base.html" %}
{% load fb_versions common_tags thumbnail watermark %}

{% block categoty_menu %}
<ul class="SideMenu">
    {% for item in request.category_menu %}
	<li><a {% if item == category %}class="Active"{% endif %} href="{{ item.get_absolute_url }}">{{ item.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block content %}
<div class="ContentText">
    <form method="GET" action=".">
        <h3>Поиск по параметрам</h3>
        <table>{{ form.as_table }}</table>
        <input type="submit" value="Показать" />
    </form>
    {{ category.content|default:""|safe }}
    <div class="ProductsList">
    {% for item in product_list %}
        <div class="ProductItem" style="border-bottom: 1px solid #999;">
            {% with item.gallery.all.0.image as image %}{% if image %}
				<!--{% thumbnail pimage "700" crop="center" as big %}
					{% thumbnail pimage "240x180" crop="center" as small %}
						<a rel="lightbox" href="{{ big.url }}"><img src="{{ small.url }}" alt="{{ item.name }}" /></a>
					{% endthumbnail %}
				{% endthumbnail %}-->
                {% version_object image 'product_big' as img %}
                {% version_object image 'fancybox' as bimg %}
                <a rel="lightbox" href="{{ bimg|watermark:"ekaboom,position=TL,opacity=20,scale=3" }}">
                    <img ok="{{ img }}" style="border: 1px solid #999;" src="{{ img|watermark:"ekaboom,position=BL,opacity=20" }}" alt="{{ item.name }}" />
                </a>
            {% endif %}{% endwith %}
            <div class="ProductItemInfo">
                <span class="ProductItemTitle">{{ item.name }}</span>
                Автор: {{ item.author }}
                {% if item.materials %}
                    <div class="ProductItemMaterials">
                    Материалы:
                    {{ item.materials|safe }}
                    </div>
                {% endif %}
                {{ item.content|default:""|safe }}
            </div>
            <div style="clear: both;"></div>
            {% if item.gallery.all|length > 1 %}
            <div class="ProductGallery" style="margin-top: 24px;">
                {% for img in item.gallery.all|slice:"1:" %}
                <div style="float; left;">
                    <a rel="lightbox" href="{% version img.image 'fancybox' %}">
                        <img style="margin-right: 2%; border: 1px solid #999;" src="{% version img.image 'product_small' %}"/>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <div style="clear: both;"></div>
            <div class="ProductItemPriceList">
            {% for price in item.prices.all %}
                <div class="ProductItemPriceRow">
                    {% if price.label %}<span class="ProductItemPrice">{{ price.label }}: </span>{% endif %}
                    <span class="ProductItemPrice">{% if price.price == 0 %} цена договорная{% else %}{{ price.price }} {{ price.price|morph:"рубль,рубля,рублей" }}{% endif %}</span>
                    <a itemid="{{ price.id }}" href="#" class="ToCart RoundedCorners ProductItemBuyButton">
                        <span class="d-shadow">
                            <span class="d-shadow-wrap">
                                Заказать
                                <span class="d-sh-cn d-sh-tl">&nbsp;</span>
                                <span class="d-sh-cn d-sh-tr">&nbsp;</span>
                            </span>
                            <span class="d-sh-cn d-sh-bl">&nbsp;</span>
                            <span class="d-sh-cn d-sh-br">&nbsp;</span>
                        </span>
                    </a>
                </div>
            {% endfor%}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
